@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container {
        @apply mx-auto max-w-7xl px-2 sm:px-6 lg:px-8;
    }
    .select_design {
        @apply flex items-center h-10 w-full rounded-lg border border-gray-300  px-2.5  text-gray-900 focus:border-primary focus-visible:outline-primary text-sm;
    }
    .input_desgin {
        @apply flex items-center w-full text-sm h-10  border border-gray-300 px-2.5 placeholder:text-sm rounded-lg outline-none focus:border-primary;
    }
    .label_desgin {
        @apply mb-2 block text-sm font-medium text-neutral-600;
    }
}

@layer utilities {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
body {
    font-family: "Noto Kufi Arabic", sans-serif;
}

/* slick */

.slick-dots {
    bottom: 25px;
}
.slick-dotted.slick-slider {
    margin-bottom: -7px;
}

.slick-dots li button:before {
    font-size: 12px;
    color: #222;
}
.slick-dots li.slick-active button:before {
    color: rgb(var(--color-primary));
}

.toast.toast-success {
    z-index: 99999 !important;
}

.main_color_t {
    color: var(--main-color);
}
.main_color_b {
    background: var(--main-color);
}

.secound_color_t {
    color: var(--secound-color);
}
.secound_color_b {
    background: var(--secound-color);
}

/* //// */

#btn-apply:disabled {
    filter: grayscale(1);
    cursor: not-allowed;
}
#coupon_value:read-only {
    background: #eeeeee;
}
